header {
    height: 80px;
}

h1 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('https://www.bhmpics.com/downloads/solar-system-minimalist-Wallpapers/18.thumb-1920-1172191.png');
}

#background-canvas {
    display: flex;
    margin: auto;
}